
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="r-founder-container">
    <div class="r-main-heading d-flex justify-content-center"><span> Founder </span></div>
    <div class="card shadow-sm r-about-sec">
        <div class="card-body r-about-body">
            <div class="r-about-img">
                <img class="img-thumbnail" src="images/dsreddy.jpg">
            </div>
            <div class="r-about-info">
                <p class="text-justify mb-3">
                    Dodla Sunderarami Reddy, popularly known as D.S. Reddy, founder of Rotary Club of Gudur is a towering personality in several aspects. He hails from a zamindari family but lead a most democratic and progressive life. He was instrumental in developing Mica Industry in Gudur. He held many importnat positions in public life like President of Cosmopolitan Club and also President of Cooperative Urban Bank...etc
                </p>
                <p class="text-justify mb-3">
                    Sri D.S. Reddy was the brain, heart and hands behind establishing the Rotary Club Gudur way back in 1962 by associating elite people of Gudur from various fields. The lamp lit by Sri. D.S. Reddy half a century ago has enormously grown and spreading the light of service to the community so far and future generations too.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="r-founder-container">
    <div class="r-main-heading"> <br>Founder Members </div>
    <div class="card shadow-sm r-about-sec">
        <div class="card-body r-about-body">
            <div class="text-center mb-3">
                <img class="img-thumbnail" src="images/foundermembers.jpg">
            </div>
            <div class="r-about-info">
                <p class="text-justify mb-3">
                    1) D.S. Reddy <br>
                    2) D. Bhaskar Reddy<br>
                    3) K. Gopalan Krishna Reddy <br>
                    4) B. Krishna Swamy<br>
                    5) M. Ramaraghava Reddy <br>
                    6) Dr. S. Ramachandar Rao <br>
                    7) P.V. Raghavaiah<br>
                    8) K.R. Murthy <br>
                    9) A. Srinivasan <br>
                    10) S. Sreenivasulu Reddy<br>
                    11) P. Venkata Krishna Reddy<br>
                    12) B. Venkata Krishna Reddy<br>
                    13) M. Venkaiah <br>
                    14) Alluru Audisesha Reddy <br>
                    15) G. Dasaratharami Reddy <br>
                    16) KMK Reddy <br>
                    17) P. Pola Reddy <br>
                    18) B. Venugopal Reddy <br>
                    19) A. Syamsundar Reddy <br>
                    20) K. Subbarami reddy <br>
                    21) P. Chandrasekhar Reddy <br>
                    22) P. Chenga Reddy <br>
                    23) N. Subba Reddy <br>
                    24) P.V. Subba Reddy <br>
                    25) Wober Dofer <br>

                </p>
            </div>
        </div>
    </div>
</div>