@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="r-club-container">
    <div class="r-main-heading d-flex justify-content-center"><span> The Club </span></div>
    <div class="card shadow-sm r-about-sec">
        <div class="card-body r-about-body">
            <div class="r-about-img">
                <img class="img-thumbnail" src="images/club-logo2.jpg">
            </div>
            <div class="r-about-info">
                <p class="text-justify mb-3">

                    Rotary club of Gudur, one of the oldest club in RID 3160 was provisionally started in the year 1962 and received

                    its charter in the year January 1963. It was the initiative of Dodla Sundarami Reddy which resulted in the

                    formation of the club with

                    some of the elite of Gudur town. The Club was sponsored by Rotary club of Nellore.
                </p>

                <p class="text-justify mb-3">
                    The Club had members from varying business backgrounds like Mica exports, Finance, Agriculture, Lemon business and

                    from varied professions like Medicine, engineering, law and business administration. Most of the charter members

                    continued their

                    membership in the club till their last breath. The club gained strength every passing year and went on to become

                    one of the most

                    prestigious clubs of RID 3160. The club sponsored more than 9 new clubs of which five continue to be very active in

                    their respective

                    communities. It has produced four district Governors who made a mark at district level and at national level too.
                </p>
                <p class="text-justify mb-3">
                    Rotary club of Gudur has been an active partcipant in TRF programs having sent two Rotarians as GSE leaders and

                    doing more than 20 matching grant programs. The club has been a regular giver to The Rotary foundation. Most of the

                    landmarks in Gudur

                    town owe their existence to Rotary club Gudur. It has been instrumental in building colleges, community halls,

                    sports stadium,

                    Crematoriums and many more. SKR Government college, DRW college, AAR stadium, Tower clock, DNR community hall, AAR

                    Rotary Bhavan,

                    Swargadhamam, Mokshadhamam are some of the very prestigious projects of the club. The club in its long history had

                    some very dynamic

                    presidents and secretaries who kept the club vibrant all through. With their innovative ideas and strategies they

                    laid a strong

                    foundaBon to the club.
                </p>
                <p class="text-justify mb-3">
                    The club which will soon celebrate its diamond jubilee year has some big plans and goals to make lives of poor and

                    downtrodden better aligning with seven areas of focus of Rotary international.
                </p>


            </div>
        </div>
    </div>
</div>


